/clase3/nbproject/private/
/ejercicioIntegrador/EjercicioIntegrador/nbproject/private/
/ejercicioIntegrador/EjercicioIntegrador/build/
/pruebaFiguras/PruebaFiguras/nbproject/private/
/pruebaFiguras/PruebaFiguras/build/